#projects {
    min-height: 100vh;
    padding-top: 10vh;
}

.project-content {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    background-color: darkslateblue;
    border-radius: 10px;
    width: 100%;
}

.accordian {
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
}

.accordian-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: slateblue;
}

.accordian-title:hover {
    background-color: darkslateblue;
}

.accordian-image-container {
    padding-bottom: 1rem;
}

.accordian-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.accordian-title,
.accordian-content {
    padding: 1rem;
}

.accordian-content {
    background-color: darkslateblue;
}

@media screen and (min-width: 600px) { /* Tablet */
    .accordian {
        max-width: 1000px;
    }

    .accordian-image {
        width: 400px;
        height: 400px;
    }

    .accordian-title, .accordian-description, .accordian-link {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
}