#projects {
    min-height: 100vh;
    padding-top: 10vh;
}

.accordion {
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: slateblue;
}

.accordion-title:hover {
    background-color: darkslateblue;
}

.accordion-image-container {
    padding-bottom: 1rem;
}

.accordion-image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: darkslateblue;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 1rem;
}

.accordion-content.active {
    max-height: 500px;
    opacity: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) { /* Tablet */
    .accordion {
        max-width: 1000px;
    }

    .accordion-image {
        width: 525px;
        height: 400px;
    }

    .accordion-title, .accordion-description, .accordion-link {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
}