#projects {
    min-height: 100vh;
    padding-top: 10vh;
}

#projects .flex {
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project-image-container {
    display: block;
    border-bottom: 1px solid black;
}

.project-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.project-content {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.project-title, .project-link {
    flex-grow: 1;
}

.project-description {
    flex-grow: 3;
}

@media screen and (min-width: 600px) { /* Tablet */
    #projects .flex {
        flex-direction: column;
    }

    .project-card {
        flex-direction: row;
    }

    .project-image-container {
        border-bottom: none;
        flex-grow: 1;
    }

    .project-image {
        float: left;
        width: 400px;
        height: 400px;
    }

    .project-content {
        flex-grow: 1;
    }

    .project-title, .project-description, .project-link {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
}