#skills {
    min-height: 100vh;
    padding-top: 10vh;
}

#skills .flex {
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    background-color: #FFF;
    color: #000;
}

.skill-icon {
    height: 100px;
    width: auto;
    display: block;
    border-bottom: 1px solid black;
}

@media screen and (min-width: 600px) { /* Tablet */
}

@media screen and (min-width: 1000px) { /* Desktop */
}