#about {
    min-height: 90vh;
    margin-top: 10vh;
}

#about-animation, #about-summary {
    height: 500px;
    margin: auto;
    border: 1px solid #000;
}

#about-summary {
    width: 300px;
}

#about .flex {
    flex-direction: column;
}

#animation-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: 'Gloock', serif;
    font-size: 26px;
}

@media screen and (min-width: 600px) { /* Tablet */
    #about .flex {
        flex-direction: row;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
    #about {
        min-height: 95vh;
        margin-top: 5vh;
    }
}