#about {
    min-height: 90vh;
    margin-top: 10vh;
}

#cube-container, #about-summary {
    width: 300px;
    min-height: 30vh;
    margin: auto;
}

#about-summary p {
    margin-top: 25px;
}

#cube-container {
    perspective: 800px;
    perspective-origin: top right;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .flex {
    flex-direction: column;
    margin-top: 100px;
}

@media screen and (min-width: 600px) { /* Tablet */
    #about .flex {
        flex-direction: row;
    }

    #cube-container, #about-summary {
        min-height: 60vh;
    }

    #about-summary p:first-child {
        margin-top: 0;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
    #about {
        min-height: 95vh;
        margin-top: 5vh;
    }

    #cube-container, #about-summary {
        width: 500px;
    }
}