#about {
    min-height: 90vh;
    margin-top: 10vh;
}

#about-animation, #about-summary {
    border: 1px solid #000;
    height: 250px;
    width: 250px;
    margin: auto;
}

#about .flex {
    flex-direction: column;
}

@media screen and (min-width: 600px) { /* Tablet */
    #about .flex {
        flex-direction: row;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
    #about {
        min-height: 95vh;
        margin-top: 5vh;
    }
}