#home {
    min-height: 100vh;
}

.home-header {
    display: inline;
    position: relative;
    top: 17vh;
    right: -35vw;
}

.home-summary {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 19vh;
    right: -2vw;
    width: 250px; /* Height is being handled with framer-motion */
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-summary p:first-child, .home-summary p:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    font-family: Coolvetica;
    text-transform: capitalize;
}

@media screen and (min-width: 600px) { /* Tablet */
    .home-header {
        right: -21vw;
    }

    .home-summary {
        right: 23vw;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
}