#contact {
    min-height: 100vh;
    padding-top: 10vh;
    text-align: center;
}

.form-submit-message {
    background-color: green;
    width: 75%;
    margin: auto;
    padding: 15px 0;
    margin-bottom: 5px;
}

.form-submit-message span {
    float: right;
    margin-right: 5px;
}

.contact-btn {
    background-color: skyblue;
    height: 75px;
    width: 150px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 10px #888888;
    font-size: 1.5rem;
    
}

.contact-btn:hover {
    transform: translateY(5px);
    box-shadow: 4px 7px #888888;
}

.contact-btn:active {
    transform: translateY(15px);
    box-shadow: none;
}

.contact-form {
    margin: 15px 10px;
    padding: 15px 0;
}

.contact-form *, .form-submit-message {
    transition: opacity .75s linear;
    opacity: 1;
}

.contact-form.hide *, .form-submit-message.hide {
    opacity: 0;
}

.form-section {
    margin: 10px;
}

.form-section.flex {
    flex-direction: column;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    height: 1.5rem;
}

.submit-btn {
    padding: 10px;
    background-color: skyblue;
    font-size: 1.5rem;
    border-radius: 5px;
}

.contact-icons {
    margin-top: 50px;
}

.contact-icon {
    margin-right: 15px;
}

.contact-icon img {
    height: 35px;
    width: auto;
    background-color: #FFF;
    border-radius: 10px;
}

@media screen and (min-width: 600px) { /* Tablet */
    #contact {
        font-size: 1.2rem;
    }

    .contact-form {
        width: 75%;
        margin: 15px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .contact-form :first-child, .contact-form :nth-child(4), .contact-form :last-child {
        grid-column: 1 / -1;
      }

    .contact-form * {
        margin: 0;
    }

}

@media screen and (min-width: 1000px) { /* Desktop */
}