#contact {
    min-height: 100vh;
}

.contact-header {
    display: inline;
    position: relative;
    top: 12vh;
    right: -35vw;
}

.form-submit-message {
    display: inline-block;
    position: relative;
    top: 14vh;
    right: -20vw;
    padding: 15px;
    background-color: green;
    color: white;
}

.form-submit-message span {
    padding-left: 10px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

form {
    position: relative;
    top: 19vh;
    right: -23vw;
    width: 249px; /* Height is being handled with framer-motion */
    padding: 3px;
    background-color: #000;
    border-radius: 10px;
}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
}

.form-section {
    flex-basis: 0;
    flex-grow: 1;
}

.form-section:nth-child(3) {
    flex-grow: 5;
}

.form-section input, .form-section textarea {
    all: unset;
    width: 100%;
    height: 100%;
    padding: 2px 0;
    border-radius: 10px;
    background-color: #fff;
}

.submit-btn {
    all: unset;
    float: right;
    height: 100%;
    color: #fff;
    border: solid hsl(0, 0%, 100%) 1px;
    border-radius: 5px;
    padding: 0 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-icons {
    display: inline;
    position: relative;
    top: 26vh;
    right: -45vw;
}

.contact-icon img {
    height: 35px;
    background-color: #FFF;
    border-radius: 10px;
    margin-right: 10px;
}

.hide {
    visibility: hidden;
}

@media screen and (min-width: 600px) { /* Tablet */
    .contact-header {
        right: -21vw;
    }

    .form-submit-message {
        right: -30vw;
    }

    form {
        top: 15vh;
        right: -17vw;
    }

    .contact-icons {
        top: 21vh;
        right: -24vw;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
}