header {
    min-height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #333333;
    color: #d1d1d1;
}

header .flex {
    justify-content: space-between;
}

#navbar-name, #tablet-desktop-nav div li {
    margin: 25px 0 0 10px;
    padding: 5px;
}

.nav-list-item:hover {
    color: #ffd700;
}

.nav-list-item:hover a {
    color: inherit;
}

#tablet-desktop-nav div li {
    float: left;
}

#mobile-nav div li {
    text-align: center;
    padding: 10px 0;
    background-color: #333333;
    transition: transform .2s;
}

#mobile-nav div li:hover {
    transform: scale(1.5);
}

#mobile-toggle {
    margin: 25px 10px 0 0;
    padding: 5px;
}

#navbar-name {
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 599px) { /* Hide tablet and desktop nav under 600 px */
    #tablet-desktop-nav {
        display: none;
    }
}

@media screen and (min-width: 600px) { /* Tablet */
    #mobile-toggle, #mobile-nav {
        display: none;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
    #navbar-name, #tablet-desktop-nav div li {
        margin: 5px 0 0 10px;
        padding: 5px;
    }
    
    header {
        min-height: 5vh;
    }
}