header {
    height: 50px;
    position: fixed;
    top: 3vh;
    right: 3vw;
    width: 250px;
    z-index: 999;
    background-color: #333333;
    border-radius: 10px;
}

nav {
    height: 100%;
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-list-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-list-item a {
    display: flex;
    align-items: center;
    color: #d1d1d1;
}

.nav-list-item:hover {
    background-color: #111;
    border-radius: 10px;
}

.nav-list-item:hover a {
    color: #ffd700;
}

@media screen and (min-width: 600px) { /* Tablet */
}

@media screen and (min-width: 1000px) { /* Desktop */
}