* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 2.5rem;
    font-family: Old London;
}

ul {
    list-style: none;
}

#background {
    background-image: url('./images/background-mobile.jpg');
    background-size: 100% 100%;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
}

#transition-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #ccc;
}

.sword {
    position: fixed;
    height: 300px;
    z-index: 10;
}

#sword-one {
    top: 20vh;
    right: 65vw;
}

#sword-two {
    top: 20vh;
    right: 10vw;
}

@media screen and (min-width: 600px) { /* Tablet */
    #background {
        background-image: url('./images/background.jpg');
    }

    #sword-one {
        right: 60vw;
    }

    #sword-two {
        right: 35vw;
    }
}

@media screen and (min-width: 1000px) { /* Desktop */
}