* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

#contact {
    min-height: 100vh;
    padding-top: 10vh;
}

ul {
    list-style: none;
}

ul li a {
    color: #d1d1d1;
}

.flex {
    display: flex;
}

.hide {
    visibility: hidden;
}

@media screen and (min-width: 600px) { /* Tablet */
}

@media screen and (min-width: 1000px) { /* Desktop */
}